# Model 2 
Trying to use more data from different data sets

In [3]:
import pandas as pd
import numpy as np

import os
import sys

#Libros for sound analysis
import librosa
import librosa.display 
import seaborn as sns
import matplotlib.pyplot as plt

#To play audio
import IPython.display as ipd
from IPython.display import Audio

import tensorflow as tf 

import warnings
if not sys.warnoptions:
    warnings.simplefilter("ignore")
warnings.filterwarnings("ignore", category=DeprecationWarning)

## Load Data

### TESS

In [11]:
#Function from previous attempts
def load_data(location: str):
    path = []
    labels = []
    for dirname, _, filenames in os.walk(location):
        for filename in filenames:
            path.append(os.path.join(dirname,filename))
            label = filename.split('_')[-1]
            label = label.split('.')[0]
            labels.append(label.lower())
    df = pd.DataFrame() 
    df['File'] = path
    df['Label'] = labels
    return df

In [7]:
data_location = './Data/TESS Toronto emotional speech set data/'

In [20]:
tess_df = load_data(data_location)

In [21]:
tess_df

                                                   File  Label
0     ./Data/TESS Toronto emotional speech set data/...  angry
1     ./Data/TESS Toronto emotional speech set data/...  angry
2     ./Data/TESS Toronto emotional speech set data/...  angry
3     ./Data/TESS Toronto emotional speech set data/...  angry
4     ./Data/TESS Toronto emotional speech set data/...  angry
...                                                 ...    ...
2795  ./Data/TESS Toronto emotional speech set data/...    sad
2796  ./Data/TESS Toronto emotional speech set data/...    sad
2797  ./Data/TESS Toronto emotional speech set data/...    sad
2798  ./Data/TESS Toronto emotional speech set data/...    sad
2799  ./Data/TESS Toronto emotional speech set data/...    sad

[2800 rows x 2 columns]

### Ravdess

In [12]:
ravdess = "./Data/Ravdess/audio_speech_actors_01-24/"
ravdes_directory_list = os.listdir(ravdess)

In [17]:
ravdess_labels = []
ravdess_path = []
for i in ravdes_directory_list:
    actor = os.listdir(ravdess + i)
    for f in actor:
        part = f.split('.')[0].split('-')
        ravdess_labels.append(int(part[2]))
        ravdess_path.append(ravdess + i + '/'+ f)

In [19]:
print(ravdess_labels[0])
print(ravdess_path[0])

1
./Data/Ravdess/audio_speech_actors_01-24/Actor_01/03-01-01-01-01-01-01.wav

In [22]:
file_df = pd.DataFrame(ravdess_path,columns=['File'])
label_df = pd.DataFrame(ravdess_labels,columns=['Label'])
ravdess_df = pd.concat([file_df,label_df],axis=1)
ravdess_df

                                                   File  Label
0     ./Data/Ravdess/audio_speech_actors_01-24/Actor...      1
1     ./Data/Ravdess/audio_speech_actors_01-24/Actor...      1
2     ./Data/Ravdess/audio_speech_actors_01-24/Actor...      1
3     ./Data/Ravdess/audio_speech_actors_01-24/Actor...      1
4     ./Data/Ravdess/audio_speech_actors_01-24/Actor...      2
...                                                 ...    ...
1435  ./Data/Ravdess/audio_speech_actors_01-24/Actor...      8
1436  ./Data/Ravdess/audio_speech_actors_01-24/Actor...      8
1437  ./Data/Ravdess/audio_speech_actors_01-24/Actor...      8
1438  ./Data/Ravdess/audio_speech_actors_01-24/Actor...      8
1439  ./Data/Ravdess/audio_speech_actors_01-24/Actor...      8

[1440 rows x 2 columns]

In [23]:
ravdess_df.Label.replace({
    1 :'neutral', 2 :'calm', 3:'happy', 4:'sad', 5:'angry', 6:'fearful', 7:'disgust', 8:'surprised'
})

0         neutral
1         neutral
2         neutral
3         neutral
4            calm
          ...
1435    surprised
1436    surprised
1437    surprised
1438    surprised
1439    surprised
Name: Label, Length: 1440, dtype: object

In [ ]:
ravdess_df