# Model 2 
Trying to use more data from different data sets

In [3]:
import pandas as pd
import numpy as np

import os
import sys

#Libros for sound analysis
import librosa
import librosa.display 
import seaborn as sns
import matplotlib.pyplot as plt

#To play audio
import IPython.display as ipd
from IPython.display import Audio

import tensorflow as tf 

import warnings
if not sys.warnoptions:
    warnings.simplefilter("ignore")
warnings.filterwarnings("ignore", category=DeprecationWarning)

## Load Data

### TESS

In [11]:
#Function from previous attempts
def load_data(location: str):
    path = []
    labels = []
    for dirname, _, filenames in os.walk(location):
        for filename in filenames:
            path.append(os.path.join(dirname,filename))
            label = filename.split('_')[-1]
            label = label.split('.')[0]
            labels.append(label.lower())
    df = pd.DataFrame() 
    df['File'] = path
    df['Label'] = labels
    return df

In [7]:
data_location = './Data/TESS Toronto emotional speech set data/'

In [10]:
load_data(data_location)

                                                   File  Label
0     ./Data/TESS Toronto emotional speech set data/...  angry
1     ./Data/TESS Toronto emotional speech set data/...  angry
2     ./Data/TESS Toronto emotional speech set data/...  angry
3     ./Data/TESS Toronto emotional speech set data/...  angry
4     ./Data/TESS Toronto emotional speech set data/...  angry
...                                                 ...    ...
2795  ./Data/TESS Toronto emotional speech set data/...    sad
2796  ./Data/TESS Toronto emotional speech set data/...    sad
2797  ./Data/TESS Toronto emotional speech set data/...    sad
2798  ./Data/TESS Toronto emotional speech set data/...    sad
2799  ./Data/TESS Toronto emotional speech set data/...    sad

[2800 rows x 2 columns]

### Ravdess

In [12]:
ravdess = "./Data/Ravdess/audio_speech_actors_01-24/"
ravdes_directory_list = os.listdir(ravdess)

In [ ]:
ravdess_labels = []
ravdess_path = []
for i in ravdes_directory_list:
    actor = os.listdir(ravdess + i)
    for f in actor:
        part = f.